<div class="container" style="background-color: rgba(0,0,0,1)">
  <div class="row mb-2 justify-content-start">
      <div class="col-sm-4 mt-2 mb-2">
          <img src="http://image.tmdb.org/t/p/w185//nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" style="max-width: 170px">
      </div>
      <div class="col-sm- mt-2 mb-2" id="text">
          <div class="container">
              <div class="row">
                Nome do filme
              </div>
              <div class="row">
                  Gênero
              </div>
              <br>
              <div class="row">
                  Descrição - eiafoqwifgwoq eingwoiopgnirengar.
                </div>
              <div class="row">
                  Nota IMDB
              </div>
              <div class="row justify-content-end">
                  Favorite?
              </div>
          </div>
      </div>
      <hr class="style1">
  </div>
</div>